form {
    display: flex;
    flex-direction: column;
}

button {
    
    margin-left: 15px;
    margin-top: 15px;
}

mat-form-field {
    margin-left: 15px;
    margin-right: 15px;
}

.button-container {
    display: flex;  
    gap: 15px; /* Define o espaçamento desejado entre os botões */
  }