.sidenav {
    background-color: #3F51B5;
    width: 200px;
}


.sidenav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sidenav a:hover {
    background-color: #3345a7;
    
}

.sidenav a i {
    margin-right: 10px;
}


